**/target
**/lib
**/classes
**/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/rdbms-solution/.nrepl-port
/typed/.nrepl-port
/react/helloom/helloom.js
/react/helloreagent/helloreagent.js
