body {
    font-family: sans-serif;
    color: #444;
    font-size: 16px;
    margin: 0;
}

h1 {
    color: #448;
}

table {
    border-collapse: collapse;
}


th {
    background: #ddd;
}

th, td {
    padding: 0.5rem;
    font-size: 0.9rem;
}

.cugb__page {
    height: 100%;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 800px;
}

.cugb__banner {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cugb__content {
    margin-top: 1em;
    position: relative;
}

.cugb__text {
    padding-right: 15em;
}

.cugb__join {
    position: absolute;
    top: 0.5em;
    right: 0em;
}

.cugb__location {
    position: absolute;
    top: 6.5em;
    right: 0em;
}

.cugb__sponsors {
    position: absolute;
    bottom: -14em;
}

.cugb__buttonlink {
    border-radius: 4px;
    background: green;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a.cugb__buttonlink:visited {
    color: white;
}

a.cugb__buttonlink:link {
    color: white;
}

a.cugb__link {
    text-decoration: none;
    color: #844;
}

a.cugb__link:hover {
    color: red;
}

a.cugb__link:active {
    text-decoration: none;
    color: red;
}

a.cugb__link:visited {
    text-decoration: none;
    color: #844;
}

.cugb__clojured {
  position: absolute;
  top: 24.2em;
  right: 0em;
  z-index: 5;
  width:195px;
  text-align:center;
}
