[{:db/cardinality :db.cardinality/one,
  :db/valueType :db.type/string,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :project/name,}
 {:db/isComponent true,
  :db/cardinality :db.cardinality/many,
  :db/valueType :db.type/ref,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :project/release,}
 {:db/isComponent true,
  :db/cardinality :db.cardinality/many,
  :db/valueType :db.type/ref,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db]
  :db/ident :project/member,}
 {:db/cardinality :db.cardinality/one,
  :db/valueType :db.type/string,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :release/name,}
 {:db/isComponent true,
  :db/cardinality :db.cardinality/many,
  :db/valueType :db.type/ref,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :release/task,}
 {:db/cardinality :db.cardinality/many,
  :db/valueType :db.type/ref,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :release/member,}
 {:db/cardinality :db.cardinality/one,
  :db/valueType :db.type/string,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :task/summary,}
 {:db/cardinality :db.cardinality/one,
  :db/valueType :db.type/string,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :member/name,}
 {:db/isComponent true,
  :db/cardinality :db.cardinality/many,
  :db/valueType :db.type/ref,
  :db.install/_attribute :db.part/db,
  :db/id #db/id[:db.part/db],
  :db/ident :member/watched-task,}]